@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-80px);
    }
    60% {
        transform: translateY(-40px);
    }
}
@keyframes spread {
    0% {
        transform: scale(1.4);
        opacity: 1;
    }
  
    40% {
        transform: scale(1.6);
        opacity: 0.8;
    }
 
    60% {
        transform: scale(1.8);
        opacity: 0.4;
    }
    100% {
        transform: scale(2);
        opacity: 0.0; /* Reduce opacity to give a fading effect */
    }
}

body {
    width: 80vw;
    height: 80vh;
    margin: auto;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("/assets/images/background-2.jpg");
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image within the body */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.container {
    text-align: center;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width: 240px;
    height: 240px;
    margin-right: 10px;
}

.header-text h2 {
    margin: 0;
    font-size: 24px;
    color: #444;
}

.header-text p {
    margin: 0;
    font-size: 14px;
    color: #888;
}

.title {
    font-size: 96px;
    color: #c03c07;
    margin-bottom: 40px;
    margin-left: 200px;
}
.reward-grid {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    gap: 120px; /* Space between the items */
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: fit-content; /* Adjusts grid width to fit content */
    margin-left: auto;
    margin-right: auto;
    
}

.gift {
    width: 200px;
    height: 200px;
    transition: transform 0.6s ease;
    cursor: pointer;
}


.gift:hover {
    transform: scale(1.4);
}

.active {
    animation: bounce 0.6s ease , spread 3s ease-out;
}


/* Disable pointer events and opacity when gifts are disabled */
.disabled {
    cursor: wait;
    pointer-events: none; /* Disable clicks */
    opacity: 0.6; /* Visually indicate disabled state */
    transition: opacity 0.5s ease; /* Smooth transition for re-enabling */
}