@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-80px);
    }
    60% {
        transform: translateY(-40px);
    }
}
@keyframes spread {
    0% {
        transform: scale(1.4);
        opacity: 1;
    }
  
    40% {
        transform: scale(1.6);
        opacity: 0.8;
    }
 
    60% {
        transform: scale(1.8);
        opacity: 0.4;
    }
    100% {
        transform: scale(2);
        opacity: 0.0; /* Reduce opacity to give a fading effect */
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('https://static.vecteezy.com/system/resources/previews/009/877/673/non_2x/pixel-art-sky-background-with-clouds-cloudy-blue-sky-for-8bit-game-on-white-background-vector.jpg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    height: 90%;
        max-height: 600px;
        background-image: url("/assets/images/background-2.jpg");
        background-size: cover; /* Ensures the image covers the entire area */
        background-position: center; /* Centers the image within the body */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        position: relative;

}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#img_team {
    position:absolute;
    width: 150px;
    height:90px;
    top: 0px;
    left: -25px;
    object-fit: contain;
    cursor: pointer;

}
.header-text h2 {
    margin: 0;
    font-size: 24px;
    color: #444;
}

.header-text p {
    margin: 0;
    font-size: 14px;
    color: #888;
}

.title {
    font-size: 40px;
    color: #c03c07;
    margin-bottom: 40px;
    margin-left: 200px;
}
.reward-grid {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    gap: 120px; /* Space between the items */
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: fit-content; /* Adjusts grid width to fit content */
    margin-left: auto;
    margin-right: auto;
    
}

.gift {
    width: 120px;
    height: 120px;
    transition: transform 0.6s ease;
    cursor: pointer;
}


.gift:hover {
    transform: scale(1.4);
}

.active {
    animation: bounce 0.6s ease , spread 3s ease-out;
}


/* Disable pointer events and opacity when gifts are disabled */
.disabled {
    cursor: wait;
    pointer-events: none; /* Disable clicks */
    opacity: 0.6; /* Visually indicate disabled state */
    transition: opacity 0.5s ease; /* Smooth transition for re-enabling */
}