body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('https://static.vecteezy.com/system/resources/previews/009/877/673/non_2x/pixel-art-sky-background-with-clouds-cloudy-blue-sky-for-8bit-game-on-white-background-vector.jpg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    height: 90%;
        max-height: 600px;
        background-image: url("/assets/images/background-2.jpg");
        background-size: cover; /* Ensures the image covers the entire area */
        background-position: center; /* Centers the image within the body */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        position: relative;

}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#img_team {
    position:absolute;
    width: 150px;
    height:90px;
    top: 0px;
    left: -25px;
    object-fit: contain;
    cursor: pointer;
}

.title {
    font-size: 96px;
    color: #000;
    margin-bottom: 40px;
    margin-left: 280px;
}


.boom {
    width: 500px;
    height: 500px;
    background-image: url('/assets/images/boom.png'); /* Ensure this path is correct */
    background-size: cover;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%) scale(0); /* Start scaled down to 0 */
    animation: explode 2s forwards; /* Explosion animation */
}

@keyframes explode {
    0% {
        bottom: 0px;
        opacity: 1;
        transform: translateX(-50%) scale(0); /* Start with scale 0 */
    }
    50% {
        bottom: 300px;
        opacity: 1;
        transform: translateX(-50%) scale(1.5); /* Scale up to 1.5 at halfway */
    }
    100% {
        bottom: 300px;
        opacity: 0; /* Fade out */
        transform: translateX(-50%) scale(0); /* Scale back down to 0 */
    }
}

.message-panel {
    margin: auto;
    background-color: #f8b26a;
    border-radius: 100px;
    padding: 48px;
    min-height: 200px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
   
}
.message-panel.show {
    transform: translateX(-50%);
    transition: opacity 0.5s ease, transform 0.5s ease; 
    opacity: 1; 
    transform: translateY(20px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
}

.message {
    font-size: 36px;
    color: white; /* Red color for emphasis */
    margin-top: 20px;
}
.next-button {
    width: 100px;
    height: 100px;
    background-image: url('/assets/images/right-arrow.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px; /* Adjust the size of the arrow */
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: bounce 2s infinite;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}
.next-button-hide {
    visibility: hidden;
}
.next-button:hover {
    background-color: #f0611e;
}

/* Bounce Animation */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-80px);
    }
    60% {
        transform: translateY(-40px);
    }
}

.message-panel {
    display: none; /* Hide the message panel by default */
    opacity: 0; /* Start with transparent */
    transition: opacity 0.5s; /* Smooth transition for appearance */
}

.message-panel.show {
    display: block; /* Show the message panel */
    opacity: 1; /* Fade in */
}



.next-button.show {
    opacity: 1; /* Fade in */
}
